# # Driver Drowsiness Detection - .gitignore

# # ==============================================================================
# # Python
# # ==============================================================================
# Environments
.venv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# # ==============================================================================
# # Operating Systems
# # ==============================================================================

# # macOS
.DS_Store

# credentials/
*.pem
*.key


# # ==============================================================================
# # Keep these files
# # ==============================================================================

# Always include these
!.gitkeep
!.github/
!docs/README.md
!models/README.md
!app/README.md
!requirements.txt
!setup.py
!Dockerfile
!docker-compose.yml
!ionic.config.json
!package-lock.json
!package.json
!tsconfig.json
!tsconfig.node.json
!.env
node_modules

app/backend/outputs/detections/
outputs/detections/

src/frontend/node_modules/